# Windows junk
Thumbs.db
Desktop.ini
*.tmp

# Python/Node/etc common (add what you use)
__pycache__/
node_modules/
.env
*.log

models/*.h5
models/*.keras
models/*.pkl
data/*.csv

# Python / ML common
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
.env
*.egg-info/
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.idea/
.vscode/